<h3>Admin</h3>
<nav>
  <ul class="nav nav-tabs">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a [routerLink]="['./']" preserveQueryParams preserveFragment>Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['./tasks']" preserveQueryParams preserveFragment>Manage Tasks</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['./users']" preserveQueryParams preserveFragment>Manage Users</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
